name: Build & Deploy Ddip-web

on:
  push:
    branches:
      - "main"
      - "feature/**"
    paths:
      - "backend/**"
      - ".github/workflows/**"

jobs:
  build-and-push-price-alert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 멀티아치 빌드 준비
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image (multi-arch)
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            yeonwoo02/ddip-backend:latest
            yeonwoo02/ddip-backend:${{ github.sha }}